<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <ul class="navbar-nav">
    <li class="navbar-item"><a href="/" class="nav-link">Home</a></li>
    <li class="navbar-item"><a href="/about" class="nav-link">About</a></li>
    <li class="navbar-item"><a href="/blogs/create" class="nav-link">Create A Blog</a></li>
    </ul>
</div>
</nav>