<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body class="container-fluid">
    <%- include('./partials/nav.ejs')  %> 
    <h1>About</h1>
    <h3>This was served by node</h3>
    <%- include('./partials/footer.ejs')%>
</body>
</html>